*.pyc
*.pyo
*.swp
*~
/build/
/dist/
/re6stnet.egg-info/

demo/*/cert.crt
demo/*/*.log
demo/*/*.db*
demo/*/dh.pem
demo/*/babeld.state
demo/*/ping_logs.csv
demo/*/*.conf

demo/*/run/
demo/*/re6stnet/
demo/*/babeld/

demo/test-results/
demo/mbox
demo/miniupnpd.pid
demo/ca.crt
demo/ca2.crt
