#!/usr/bin/make -f
# -*- makefile -*-
#export DH_VERBOSE=1

VERSION = $(shell python re6st/version.py)

build-package: debian/changelog
	dpkg-buildpackage -us -uc -b

include debian/common.mk

override_dh_python2:
	dh_python2 --no-guessing-deps --depends=pyOpenSSL --recommends=miniupnpc

override_dh_auto_clean:
	make clean

%:
	dh $@ --with python2 --buildsystem=python_distutils
