#!/usr/bin/make -f
# -*- makefile -*-
#export DH_VERBOSE=1

VERSION = $(shell python re6st/version.py)

# In order to build DEB snapshot package whose version is derived from current
# Git revision, the `debian/changelog` file must be generated automatically,
# that's why you can't use `dpkg-buildpackage` directly: run `debian/rules`
# instead.
build-package: debian/changelog
	dpkg-buildpackage -us -uc -b

include debian/common.mk

override_dh_python2:
	dh_python2 --no-guessing-deps --depends=pyOpenSSL --recommends=miniupnpc

override_dh_auto_clean:
	make clean

# Do not build twice ('setup.py install' builds automatically)
override_dh_auto_build:

%:
	dh $@ --with python2 --buildsystem=python_distutils
